.jstb_smiles {
  background-image: url(../images/main_smile.png);
}

.smiles-generator {
    position: absolute;
    border-collapse: collapse;
}
.smiles-generator td {
    text-align: center;
    border: 2px solid #ccc;
    background-color: white;
}
.smiles-generator img {
    cursor: pointer;
}
